@media screen and (max-width: 980px){
    
header {
        flex-direction: column;

    }

    main {
        flex-direction: column;
        text-align: center;
    }   

    h2 {
        font-size: 56px;
    }

img {
       margin-top: 20px;
       width: 580px;
       height: 580px;
       text-align: center;
       
    }

ul{
    text-align: center;
    padding: 0;
}

a{
        margin-left: 0px;
        font-size: 25px;
    }

    li {
        margin: 10px;
    }

    h3 {
        margin-left: 0PX;
        font-size: 26px;
        text-align: center;
    }

    #title {
        line-height: 20px;
        align-self: center;
    }

    p {
        max-width: 100%;
        font-size: 16px;
    }
    
    #p2 {
        max-width: 100%;
        font-size: 16px;
    }
    
    #p3 {
        max-width: 100%;
        font-size: 16px;
    }

}

@media screen and (max-width: 620px){

    img{
        margin-top: 20px;
        /* Ajuste as imagens em unidades relativas: %, vw, vh, svw, svh e etc.. */
        width: 20vw; 
        height: auto;
    }

h3 { 
    margin-right: auto;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    
    }

}
